
footer{
  font-style: italic;
  padding-top: 50px;
  background-color: #777;
  text-align: center;
}
h1{
  padding-bottom: 50px;
}

div.left {
  float: left;
}

div.middle {
  float: left;
  margin-left: 200px;
}

div.right {
  float: inherit;
  margin-left: 200px;
}

div.clear {
  clear: both;
}
