
footer{
  font-style: italic;
  padding-top: 50px;
  background-color: #777;
  text-align: center;
}
h1{
  padding-bottom: 15px;
  padding-left: 20px;
}
h2{
  padding-left: 20px;
  padding-top: 10px;
}
.meny {
  overflow:hidden;
  background-color: #777;

}
.meny a{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 10px, 15px;
  margin-right: 15px;
  font-size: 17px;
}

.meny a:hover{
  background-color: #ddd;
  color: grey;
}

body{
  background-color: white;
  font-style: Arial,Helvetica,sans-Serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 80px;
  grid-gap: 10px 10px;
  align-content: center;
}
.cell{
  font-size: 17;
  text-align: center;
  padding: 5px;
}
div.clear {
  clear: both;
}

p.quote {
  font-size: 20;
  margin-left: 20px;
  color: white;
}

p.paragraph{
  font-size: 17;
  margin-left: 20px;
}