
footer{
  font-style: italic;
  padding-top: 50px;
  background-color: #777;
  text-align: center;
}
h1{
  padding-bottom: 50px;
}
.meny {
  overflow:hidden;
  background-color: black;

}
.meny a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px, 15px;
  font size: 50px;
}
.meny a:hover{
  background-color: #ddd;
  color: grey;
}

body{
  background-color: white;
  font-style: Arial,Helvetica,sans-Serif;
}
